[submodule ".chef/cookbook/generic/sqlite"]
	path = .chef/cookbook/generic/sqlite
	url = https://github.com/opscode-cookbooks/sqlite.git
[submodule ".chef/cookbook/generic/apt"]
	path = .chef/cookbook/generic/apt
	url = https://github.com/opscode-cookbooks/apt.git
[submodule ".chef/cookbook/generic/cron"]
	path = .chef/cookbook/generic/cron
	url = https://github.com/opscode-cookbooks/cron.git
[submodule ".chef/cookbook/generic/openssl"]
	path = .chef/cookbook/generic/openssl
	url = https://github.com/opscode-cookbooks/openssl.git
[submodule ".chef/cookbook/generic/memcached"]
	path = .chef/cookbook/generic/memcached
	url = https://github.com/opscode-cookbooks/memcached.git
[submodule ".chef/cookbook/generic/imagemagick"]
	path = .chef/cookbook/generic/imagemagick
	url = https://github.com/opscode-cookbooks/imagemagick.git
[submodule ".chef/cookbook/generic/mysql"]
	path = .chef/cookbook/generic/mysql
	url = https://github.com/opscode-cookbooks/mysql.git
[submodule ".chef/cookbook/generic/apache2"]
	path = .chef/cookbook/generic/apache2
	url = https://github.com/opscode-cookbooks/apache2.git
[submodule ".chef/cookbook/generic/php"]
	path = .chef/cookbook/generic/php
	url = https://github.com/opscode-cookbooks/php.git
[submodule ".chef/cookbook/generic/locale"]
	path = .chef/cookbook/generic/locale
	url = https://github.com/hw-cookbooks/locale.git
[submodule ".chef/cookbook/generic/build-essential"]
	path = .chef/cookbook/generic/build-essential
	url = https://github.com/opscode-cookbooks/build-essential.git
[submodule ".chef/cookbook/generic/ubuntu"]
	path = .chef/cookbook/generic/ubuntu
	url = https://github.com/opscode-cookbooks/ubuntu.git
[submodule ".chef/cookbook/generic/runit"]
	path = .chef/cookbook/generic/runit
	url = https://github.com/opscode-cookbooks/runit.git
[submodule ".chef/cookbook/generic/yum"]
	path = .chef/cookbook/generic/yum
	url = https://github.com/opscode-cookbooks/yum.git
[submodule ".chef/cookbook/generic/xml"]
	path = .chef/cookbook/generic/xml
	url = https://github.com/opscode-cookbooks/xml.git
[submodule ".chef/cookbook/generic/git"]
	path = .chef/cookbook/generic/git
	url = https://github.com/opscode-cookbooks/git.git
[submodule ".chef/cookbook/generic/dmg"]
	path = .chef/cookbook/generic/dmg
	url = https://github.com/opscode-cookbooks/dmg.git
[submodule ".chef/cookbook/generic/windows"]
	path = .chef/cookbook/generic/windows
	url = https://github.com/opscode-cookbooks/windows.git
[submodule ".chef/cookbook/generic/chef_handler"]
	path = .chef/cookbook/generic/chef_handler
	url = https://github.com/opscode-cookbooks/chef_handler.git
[submodule ".chef/cookbook/generic/zsh"]
	path = .chef/cookbook/generic/zsh
	url = https://github.com/opscode-cookbooks/zsh.git
[submodule ".chef/cookbook/generic/logrotate"]
	path = .chef/cookbook/generic/logrotate
	url = https://github.com/opscode-cookbooks/logrotate.git
