[mysqld]
sql_mode = NO_ENGINE_SUBSTITUTION
bind-address = 0.0.0.0
character_set_server = utf8mb4
collation_server = utf8mb4_unicode_ci
innodb_buffer_pool_size = 256M
innodb_file_per_table = 1
key_buffer_size = 128M
max_allowed_packet = 64M
thread_stack = 192K
thread_cache_size = 256
